<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="dateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg value="yyyy-MM-dd" />
	</bean>
	<bean id="s1" class="com.infy.entity.Customer">
		<property name="cId" value="103"></property>
		<property name="cName" value="Ridima"></property>
		<property name="city" value="US"></property>
		<property name="dob">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="1998-01-11" />
			</bean>

		</property>
	</bean>
	<bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/customer_db"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="secfact" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">

		<property name="dataSource" ref="datasource"></property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			</props>
		</property>

		<property name="annotatedClasses">
			<list>
				<value>com.infy.entity.Customer</value>
			</list>
		</property>
	</bean>
	<bean id="hibernatetemp" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref="secfact"></property>
		<property name="checkWriteOperations" value="false"></property>
	</bean>

	<bean id="daoimpl" class="com.infy.DAO.CustomerDAOImpl">
		<property name="hbtemp" ref="hibernatetemp"></property>
	</bean>

	<bean id="serv" class="com.infy.service.CustomerServiceImpl">
		<property name="impl" ref="daoimpl"></property>
	</bean>

</beans>